:root {
  font-family: 'Space Mono', monospace;
  font-weight: 800;
}

header {
  color: hsl(186, 14%, 43%);
}

body {
  background: #C5E4E7;
}

main {
  background: #fff;
  border-radius: 10px;
  padding: 7%;
}

.art-selecTip-input {
  background: hsl(183, 100%, 15%);
  color: hsl(189, 41%, 97%);
}

.art-result {
  width: 100%;
  background: hsl(183, 100%, 15%);
  padding: 7%;
}

.art-resul-title { 
  color: hsl(189, 41%, 97%);
}

.art-bill,.art-title {
color: #687B7B;
}

.art-bill-input,.art-selecTip-input,.art-selectTip-numberOfPeople-input,.art-resul-input {
  font-size: 24px;  
}