:root {
  font-family: 'Space Mono', monospace;
  font-weight: 800;
}

header {
  height: 124.8px;
  color: hsl(186, 14%, 43%);
}

body {
  background: #C5E4E7;
}

main {
  height: 539.2px;
  background: #fff;
  border-radius: 38px;

  padding: 7%;
}

.art-title {
  width: 100%;

}

.art-selecTip-input {
 width: 45% ;
  height: 45px;
  margin: 1%;
  border: none; 
  border-radius: 7px;
  background: hsl(183, 100%, 15%);
  color: hsl(189, 41%, 97%);
}

.art-result {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
  width: 100%;
  border-radius: 1em;
  background: hsl(183, 100%, 15%);
  padding: 7%;
}

.art-resul-lbl1 { 
  color: hsl(189, 41%, 97%);
}

.art-resul-lbl2 {
  color: hsl(186, 14%, 43%);
}

.art-resul-lbl3 {
  color: hsl(172, 67%, 45%);
}

.art-bill,.art-title {
color: #687B7B;
}

.btnReset {
  width: 100%;
  height: 45px;
  background: hsl(172, 67%, 45%);
  border: none;
  border-radius: 7px;
  color: hsl(183, 100%, 15%);
  font-size: 24px;  
  text-transform: uppercase;
}

.art-result {
  width: 86%;
}

.art-bill-input,.art-selecTip-input,.art-selectTip-numberOfPeople-input,.art-resul-lbl3 {
  font-size: 24px;  
}


#art-bill-input-id {
  width: 94%;
  background-image: url(\icon-dollar.svg);
  background-repeat: no-repeat; 
  text-align: right;
  border: hsl(189, 41%, 97%);
  height: 28px;
}

.art-selectTip-numberOfPeople-input{
  width: 94%;
  background-image: url(\icon-person.svg);
  background-repeat: no-repeat;
  position: left; 
  text-align: right;
  border: hsl(189, 41%, 97%);
}